<!doctype html>
<html>
<head>
<title>Zero - 个人中心</title>
<meta charset="utf-8" />
<link type="text/css" rel="stylesheet" href="../css/style.css" /><!-- 公共样式库 -->
<link type="text/css" rel="stylesheet" href="../css/ui.css" /><!-- 组件样式库 -->
<script type="text/javascript" src="../js/jquery-1.8.0.min.js"></script><!-- jQuery 核心库 -->
<script type="text/javascript" src="../js/jquery.animate-shadow.js"></script><!-- jQuery 阴影动画插件 -->
<script type="text/javascript" src="../js/UI.js"></script>
<script type="text/javascript" src="../js/Effect.js"></script>
<script type="text/javascript">
<!--
	var eft = new Effect();
	
	//DOM载入
	$(function(){
		eft.comAuto();//组建自适应窗口
		eft.authCom();//认证组件
	})
	
	//窗口大小重置
	$(window).resize(function(e) {
        eft.comAuto();//组件自适应窗口
    });
	
	//滚动条运动
	$(window).scroll(function(e) {
		eft.navShadow();//导航栏阴影
    });
//-->
</script>
</head>

<body>
	<!-- 导航 -->
    <div id="nav">
    	<!-- 导航栏 -->
    	<div class="nav-bar">
        	<!-- LOGO -->
        	<div class="logo-container">
            	<img src="../images/logo.png" />
            </div>
            <!-- 搜索 -->
            <div class="search-container">
            	<form onSubmit="return false;">
                	<input type="text" />
                    <button></button>
                </form>
            </div>
            <!-- 用户状态 -->
            <div class="user-status-container">
            	<!-- 未登录 -->
            	<div class="logout" style="display:none0;">
                    <a id="a-login-menu" href="">登录</a>
                    <a id="a-reg-menu" href="">注册</a>
                </div>
                
                <!-- 已登录 -->
                <div class="logined" style="display:none;">
                	<a href="" class="a-link notice">&nbsp;</a>
                    <a href="" class="person a-link">个人中心</a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- 主体 -->
    <div id="person-main">
    	<!-- 容器1-显示用户统计信息 -->
        <div class="container-1">
        	<!-- 居中容器 -->
            <div class="center-container">
                <!-- 用户头像区 -->
                <div class="avatar-container">
                	<img src="../images/avatar.jpg" width="128" height="128" />
                </div>
                <!-- 用户信息区 -->
                <div class="info-container">
                	<h3 class="nickname">Zero</h3>
                    <div class="reg-date">注册于&nbsp;<span>2017-10-24</span></div>
                </div>
            </div>
        </div>
        
        <!-- 容器2 -->
        <div class="container-2">
        	<!-- 左侧 -->
            <div class="left">
            	<ul>
                	<li><a href="">我的提问</a></li>
                    <li><a href="">我的回答</a></li>
                    <li><a href="">基本信息</a></li>
                    <li><a href="" style="color:#009966;background:#F1F1F1;">密码修改</a></li>
                </ul>
            </div>
            
            <!-- 右侧 -->
            <div class="right">
            	<!-- 基本信息 -->
                <div class="base-info">
                    <!-- 标题栏 -->
                    <div class="title-bar">
                        <h3>密码修改</h3>
                        <button class="btn-save">保&nbsp;&nbsp;存</button>
                    </div>
                    <!-- 内容 -->
                    <div class="content">
                        <ul>
                            <li><span>旧密码&nbsp;</span><input class="username" type="text" /></li>
                            <li><span>新密码&nbsp;</span><input class="nickname" type="text" /></li>
                            <li><span>新密码&nbsp;</span><input class="nickname" type="text" /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- 页脚 -->
    <div id="footer">
    	<!-- 居中容器 -->
    	<div class="center-container">
        	<p class="intro">Zero - 一个零距离问答互动平台</p>
            <p class="copyright">Copyright @ 2017 By Zero.</p>
        </div>
    </div>
    
    <!-- 组件 -->
    <div id="com">
    	<!-- 背景 -->
        <div class="bg">
        </div>
    
    	<!-- 登录/注册组件 -->
        <div class="login">
        	<!-- 标题栏 -->
            <div class="title-bar">
            	<a id="a-login-selection" class="a-login" href="" >登录</a>
                <a id="a-reg-selection" class="a-register" href="">注册</a>
            </div>
            
            <!-- 登录控件容器 -->
            <div id="login-container" class="login-container main-container">
            	<ul>
                	<li><span class="hint">请填写信息</span></li>
                	<li><input type="text" placeholder="用户名" /></li>
                    <li><input type="password" placeholder="密码" /></li>
                    <li><button>登&nbsp;&nbsp;&nbsp;&nbsp;录</button></li>
                </ul>
            </div>
            
            <!-- 注册控件容器 -->
            <div id="reg-container" class="reg-container main-container">
            	<ul>
                	<li><span class="hint">请填写信息</span></li>
                	<li><input type="text" placeholder="用户名" /></li>
                    <li><input type="text" placeholder="昵称" /></li>
                    <li><input type="password" placeholder="密码" /></li>
                    <li><input type="password" placeholder="重复密码" /></li>
                    <li><button>注&nbsp;&nbsp;&nbsp;&nbsp;册</button></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
