<?php
	//--- 获取渲染参数 ---
    $webDName = $this -> get('webDName');
    $webRoot = $this -> get('webRoot');
    $title = $this -> get('title');
    $desc = $this -> get('desc');
    $pubtime = $this -> get('pubtime');
    $pv = $this -> get('pv');
    $nickname = $this -> get('nickname');
    $avatar = $this -> get('avatar');
    $askList = $this -> get('ask-list');
    $answerPages = $this -> get('answer-pages');
    $answerList = $this -> get('answer-list');
    $aid = $this -> get('aid');
?>

<!doctype html>
<html>
<head>
<title>Zero - 内容页</title>
<meta charset="utf-8" />
<link type="text/css" rel="stylesheet" href="<?php echo $webDName.$webRoot; ?>/src/css/style.css" /><!-- 公共样式库 -->
<link type="text/css" rel="stylesheet" href="<?php echo $webDName.$webRoot; ?>/src/css/ui.css" /><!-- 组件样式库 -->
<script type="text/javascript" src="<?php echo $webDName.$webRoot; ?>/src/js/jquery-1.8.0.min.js"></script><!-- jQuery 核心库 -->
<script type="text/javascript" src="<?php echo $webDName.$webRoot; ?>/src/js/jquery.animate-shadow.js"></script><!-- jQuery 阴影动画插件 -->
<script type="text/javascript" src="<?php echo $webDName.$webRoot; ?>/plugin/yui/yui.js"></script>
<script type="text/javascript" src="<?php echo $webDName.$webRoot; ?>/src/js/Effect.js"></script>
<script type="text/javascript" src="<?php echo $webDName.$webRoot; ?>/plugin/ueditor/ueditor.config.js"></script><!-- UEditor 配置 -->
<script type="text/javascript" src="<?php echo $webDName.$webRoot; ?>/plugin/ueditor/ueditor.all.min.js"></script><!-- UEditor 核心 -->
<script type="text/javascript" src="<?php echo $webDName.$webRoot; ?>/src/js/Processor.js"></script><!-- 处理器 -->
<script type="text/javascript">
<!--
	var eft = new Effect();
	var pcs = new Processor();
	var webDName = "<?php echo $webDName; ?>";//域名
	var webRoot = "<?php echo $webRoot; ?>";//根目录
	var ue = null;
	var yui = new YUI(webDName + webRoot +'/plugin');
	var aid = "<?php echo $aid; ?>";
	
	//DOM载入
	$(function(){
		eft.comAuto();//组建自适应窗口
		eft.authCom();//认证组件
		eft.articlePageEdit();//内容页编辑器
		pcs.authRegister();//注册
		pcs.authLogin();//登录
		pcs.logout();//注销
		pcs.answerPaging(<?php echo $answerPages; ?>);//答案分页
	})
	
	//资源载入
	window.onload = function(){
		pcs.submitAnswer();//提交答案
		pcs.updatePV();//更新浏览量
	}
	
	//窗口大小重置
	$(window).resize(function(e) {
        eft.comAuto();//组件自适应窗口
    });
	
	//滚动条运动
	$(window).scroll(function(e) {
		eft.navShadow();//导航栏阴影
    });
//-->
</script>
</head>

<body>
    <?php $this -> display('head.html'); ?>
    
    <!-- 主体 -->
    <div id="article-main">
        <!-- 容器1 -->
        <div class="container-1">
        	<!-- 左侧 -->
            <div class="left">
            	<!-- 提问信息 -->
            	<div class="question">
                	<!-- 标题 -->
                    <h2 class="title"><?php echo $title; ?></h2>
                    <!-- 描述 -->
                    <p class="desc"><?php echo $desc ?></p>
                    <span class="pub-time">发布时间&nbsp;<?php echo $pubtime; ?></span>&nbsp;&nbsp;
                    <span class="read">浏览&nbsp;<?php echo $pv; ?></span>
                </div>
                <!-- 回答信息 -->
            	<div class="answer">
                	<!-- 标题 -->
                    <h3 class="title">回答</h3>
                    <!-- 回答列表 -->
                    <ul id="ul-answer-show">
                    	<?php for($i=0;$i<count($answerList);$i++){ ?>
                    	<li class="li-answer">
                        	<!-- 回答者信息 -->
                            <div class="answer-info">
                            	<img class="avatar" src="<?php echo $webDName.$webRoot.$answerList[$i]['avatar']; ?>" />
                                <span class="nickname"><?php echo $answerList[$i]['nickname']; ?></span>
                                <span class="pub-time"><?php echo $answerList[$i]['pubtime']; ?></span>
                            </div>
                            <!-- 回答内容 -->
                            <div class="answer-content"><?php echo $answerList[$i]['content']; ?></div>
                        </li>
                        <?php } ?>
                    </ul>
                </div>
                <!-- 分页 -->
                <div id="paging" class="load-more">
                </div>
                <!-- 我来回答 -->
                <div class="my-answer">
                	<!-- 标题 -->
                    <h3 class="title">我来回答</h3>
                    <!-- 回答内容编辑器 -->
                    <script id="my-answer-edit">
					</script>
                    <button id="btn-submit-answer" class="btn-submit">提交答案</button>
                </div>
            </div>
            
            <!-- 右侧 -->
            <div class="right">
            	<!-- 提问者信息容器 -->
            	<div class="question-container">
                	<p class="info">
                    	<img class="avatar" src="<?php echo $webDName.$webRoot.$avatar; ?>" width="64" height="64" />
                        <span class="nickname"><?php echo $nickname; ?></span>
                    </p>                   
                </div>
                
                <!-- TA的提问容器 -->
            	<div class="ta-container">
                	<h3 class="title">TA&nbsp;的提问</h3>
                    <ul>
                    	<?php for($i=0;$i<count($askList);$i++){ ?>
                        <li>
                        	<a href="?q=zero/article/article&aid=<?php echo $askList[$i]['askId']; ?>">
                            <?php echo $askList[$i]['title']; ?>
                            </a>
                            <span class="answer-number">
                            <?php echo $askList[$i]['answers']; ?>&nbsp;回答
                            </span>
                        </li>
                        <?php } ?>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <?php $this -> display('footer.html'); ?>
</body>
</html>
