<?php
	//--- 获取渲染参数 ---
	$askList = $this -> get('ask-list');
?>

<!-- 我的提问 -->
<div class="my-ask">
    <!-- 标题栏 -->
    <div class="title-bar">
        <h3>我的提问</h3>
        <button id="btn-ask" class="btn-ask">我要提问</button>
    </div>
    <!-- 内容 -->
    <div class="content">
        <ul id="ask-list" class="ul-question">
        	<?php for($i=0;$i<count($askList);$i++){ ?>
            <li>
            	<a href="?q=zero/article/article&aid=<?php echo $askList[$i]['askId']; ?>" target="_blank">
                <?php echo $askList[$i]['title']; ?>
                </a>
                &nbsp;<?php echo $askList[$i]['answers']; ?>&nbsp;回答
            </li>
            <?php } ?>
        </ul>
        <!-- 分页按钮 -->
        <div id="paging" style="text-align:center;padding:10px 0 0 0;">
        </div>
    </div>
</div>
