<?php
	//--- 获取渲染参数 ---
    $webDName = $this -> get('webDName');
    $webRoot = $this -> get('webRoot');
    $indexTarget = $this -> get('index-target');
    $logout = $this -> get('logout');
    $logined = $this -> get('logined');
    $keyword = $this -> get('keyword');
?>

<script type="text/javascript">
<!--	
	$(window).load(function(){
		pcs.aSearch();//搜索
		
		window.setInterval(function(){
			pcs.onlines();
		},6000);
	});
//-->
</script>

<!-- 导航 -->
<div id="nav">
    <!-- 导航栏 -->
    <div class="nav-bar">
        <!-- LOGO -->
        <div class="logo-container">
            <a href="<?php echo $webDName.$webRoot; ?>" target="<?php echo $indexTarget; ?>">
            	<img src="<?php echo $webDName.$webRoot; ?>/src/images/logo.png" />
            </a>
        </div>
        <!-- 搜索 -->
        <div class="search-container">
            <form onSubmit="return false;">
                <input id="txt-search" type="text" placeholder="搜索关键字" value="<?php echo $keyword; ?>" />
                <button id="btn-search"></button>
            </form>
        </div>
        <!-- 用户状态 -->
        <div class="user-status-container">
            <!-- 未登录 -->
            <div id="logout" class="logout" style="display:<?php echo $logout; ?>;">
            	<a href="<?php echo $webDName.$webRoot; ?>" target="<?php echo $indexTarget; ?>"  class="a-link index">首页</a>
                <a id="a-login-menu" href="">登录</a>
                <a id="a-reg-menu" href="">注册</a>
            </div>
            
            <!-- 已登录 -->
            <div id="logined" class="logined" style="display:<?php echo $logined; ?>;">
	            <a href="<?php echo $webDName.$webRoot; ?>" target="<?php echo $indexTarget; ?>"  class="a-link index">首页</a>
                <!--<a href="" class="a-link notice">&nbsp;</a>-->
                <a href="<?php echo $webDName.$webRoot; ?>?q=zero/person/index" class="person a-link">&nbsp;</a>
                <a href="" class="a-link logout">&nbsp;</a>
            </div>
        </div>
    </div>
</div>
    

