<?php
	//--- 获取渲染参数 ---
    $webDName = $this -> get('webDName');
    $webRoot = $this -> get('webRoot');
    $newestAskList = $this ->get('newestAskList');
    $newestAnswerList = $this -> get('newestAnswerList');
    $goodList = $this -> get('good-list');
?>

<!doctype html>
<html>
<head>
<title>Zero</title>
<meta charset="utf-8" />
<link type="text/css" rel="stylesheet" href="<?php echo $webDName.$webRoot; ?>/src/css/style.css" /><!-- 公共样式库 -->
<link type="text/css" rel="stylesheet" href="<?php echo $webDName.$webRoot; ?>/src/css/ui.css" /><!-- 组件样式库 -->
<script type="text/javascript" src="<?php echo $webDName.$webRoot; ?>/src/js/jquery-1.8.0.min.js"></script><!-- jQuery 核心库 -->
<script type="text/javascript" src="<?php echo $webDName.$webRoot; ?>/src/js/jquery.animate-shadow.js"></script><!-- jQuery 阴影动画插件 -->
<script type="text/javascript" src="<?php echo $webDName.$webRoot; ?>/plugin/yui/yui.js"></script>
<script type="text/javascript" src="<?php echo $webDName.$webRoot; ?>/src/js/Effect.js"></script>
<script type="text/javascript" src="<?php echo $webDName.$webRoot; ?>/src/js/Processor.js"></script><!-- 处理器 -->
<script type="text/javascript">
<!--
	var eft = new Effect();
	var pcs = new Processor();
	var webDName = "<?php echo $webDName; ?>";//域名
	var webRoot = "<?php echo $webRoot; ?>";//根目录
	var yui = new YUI(webDName + webRoot +'/plugin');
	var counter = null;//统计器
	
	//DOM载入
	$(function(){
		eft.comAuto();//组建自适应窗口
		eft.authCom();//认证组件
		pcs.authRegister();//注册
		pcs.authLogin();//登录
		pcs.logout();//注销
		
		//添加统计器
		counter = yui.counter('#num-clock',{
			numLength:7,
			numSize:36,
			speed:2000
		});
	})
	
	//窗口大小重置
	$(window).resize(function(e) {
        eft.comAuto();//组件自适应窗口
    });
	
	//滚动条运动
	$(window).scroll(function(e) {
		eft.navShadow();//导航栏阴影
    });
//-->
</script>
</head>

<body>
	
    <!-- 导航 -->
    <?php $this -> display('head.html'); ?>
    
    <!-- 主体 -->
    <div id="index-main">
    	<!-- 容器1-显示用户统计信息 -->
        <div class="container-1">
        	<!-- 居中容器 -->
            <div class="center-container">
                <!-- 用户在线统计板 -->
                <div class="user-online">
                	<!-- 标题 -->
                    <h3 class="title">在线用户</h3>
                    <!-- 内容 -->
                    <div class="content-bg">
                    	<div class="content-front">
                        	<h1 id="num-clock" class="user-counts" style="font-weight:500;"><!--9,327,562--></h1>
                        </div>
                    </div>
                </div>
                <!-- 欢迎语容器 -->
                <div class="welcome-container">
                	<h1>欢迎来到</h1>
                </div>
                <!-- 我要提问入口 -->
                <div class="question-container">
                	<button id="btn-ask">我要提问</button>
                </div>
            </div>
        </div>
        
        <!-- 容器2 -->
        <div class="container-2">
        	<!-- 左侧 -->
            <div class="left">
            	<div class="left-1">
                	<div class="l">
                    	<h3 class="title">最新问题&nbsp;<a class="more-flag" href="" title="更多">»</a></h3>
                        <ul>
                        	<?php for($i=0;$i<count($newestAskList);$i++){ ?>
                            <li>
                                <a href="?q=zero/article/article&aid=<?php echo $newestAskList[$i]['askId']; ?>" target="_blank">
                                <?php echo $newestAskList[$i]['title']; ?>
                                </a>
                                &nbsp;&nbsp;<?php echo $newestAskList[$i]['answers']; ?>&nbsp;回答
                            </li>
                            <?php } ?>
                        </ul>
                    </div>
                	<div class="r">
                    	<h3 class="title">最新解决&nbsp;<a class="more-flag" href="" title="更多">»</a></h3>
                        <ul>
                        	<?php for($i=0;$i<count($newestAnswerList);$i++){ ?>
                            <li>
                            	<a href="?q=zero/article/article&aid=<?php echo $newestAnswerList[$i]['aid']; ?>" target="_blank">
                                	<?php echo $newestAnswerList[$i]['title']; ?>
                                </a>
                            	&nbsp;&nbsp;<?php echo $newestAnswerList[$i]['answers']; ?>&nbsp;回答
                            </li>
                            <?php } ?>
                        </ul>
                    </div>
                </div>
            	<div class="left-2">
                	<div class="title-bar">
                		<h3 class="title">随机问答</h3>
                        <span><a href="">更换</a></span>
                    </div>
                    <ul>
                        <li><a href="">Java</a></li>
                        <li><a href="">Android</a></li>
                        <li><a href="">Node.js</a></li>
                        <li><a href="">人工智能</a></li>
                        <li><a href="">Redis</a></li>
                        <li><a href="">CSS3</a></li>
                        <li><a href="">Extjs</a></li>
                        <li><a href="">ThinkPHP</a></li>
                        <li><a href="">Yii</a></li>
                        <li><a href="">二次开发</a></li>
                        <li><a href="">CMS</a></li>
                        <li><a href="">Java</a></li>
                        <li><a href="">Android</a></li>
                        <li><a href="">MySQL</a></li>
                        <li><a href="">Node.js</a></li>
                        <li><a href="">人工智能</a></li>
                        <li><a href="">Redis</a></li>
                        <li><a href="">MySQL</a></li>
                        <li><a href="">HTML5</a></li>
                        <li><a href="">ThinkPHP</a></li>
                        
                    </ul>
                </div>
            </div>
            
            <!-- 右侧 -->
            <div class="right">
            	<!-- 公告栏容器 -->
            	<div class="notice-container">
                	<h3 class="title">最新公告</h3>
                    <ul>
                        <li><a href="">Zero 简介</a><span class="pub-time">2017-9-26 22:04</span></li>
                        <li><a href="">给新伙伴的一封信</a><span class="pub-time">2017-9-26 22:04</span></li>
                        <li><a href="">Zero 简介</a><span class="pub-time">2017-9-26 22:04</span></li>
                        <li><a href="">给新伙伴的一封信</a><span class="pub-time">2017-9-26 22:04</span></li>
                        <li><a href="">Zero 简介</a><span class="pub-time">2017-9-26 22:04</span></li>
                        <li><a href="">给新伙伴的一封信</a><span class="pub-time">2017-9-26 22:04</span></li>
                    </ul>
                </div>
                
                <!-- 达人榜容器 -->
            	<div class="good-container">
                	<h3 class="title">达人榜</h3>
                    <ul>
                    	<?php for($i=0;$i<count($goodList);$i++){ ?>
                        <li>
                        	<img src="<?php echo $webDName.$webRoot; ?>/src/images/avatar.jpg" />
                            <span class="nickname"><?php echo $goodList[$i]['nickname']; ?></span>
                            <span class="help"><?php echo $goodList[$i]['helps'] ?>&nbsp;帮助</span>
                        </li>
                        <?php } ?>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <?php $this -> display('footer.html'); ?>
</body>
</html>
