
<!-- 密码修改 -->
<div class="base-info">
    <!-- 标题栏 -->
    <div class="title-bar">
        <h3>密码修改</h3>
        <button id="btn-save-password" class="btn-save">保&nbsp;&nbsp;存</button>
    </div>
    <!-- 内容 -->
    <div class="content">
        <ul>
        	<!--
            	type 类型采用客户端渲染，解决浏览器安全提示
            -->
            <li><span>旧密码&nbsp;</span><input id="old-password" class="username" type="password" /></li>
            <li><span>新密码&nbsp;</span><input id="new-password-1" class="nickname" type="password" /></li>
            <li><span>新密码&nbsp;</span><input id="new-password-2" class="nickname" type="password" /></li>
        </ul>
    </div>
</div>
