<?php
	//--- 获取渲染参数 ---
    $webDName = $this -> get('webDName');
    $webRoot = $this -> get('webRoot');
    $avatar = $this -> get('avatar');
    $nickname = $this -> get('nickname');
    $regtime = $this -> get('reg-time');
?>

<!doctype html>
<html>
<head>
<title>Zero - 个人中心</title>
<meta charset="utf-8" />
<link type="text/css" rel="stylesheet" href="<?php echo $webDName.$webRoot; ?>/src/css/style.css" /><!-- 公共样式库 -->
<link type="text/css" rel="stylesheet" href="<?php echo $webDName.$webRoot; ?>/src/css/ui.css" /><!-- 组件样式库 -->
<script type="text/javascript" src="<?php echo $webDName.$webRoot; ?>/src/js/jquery-1.8.0.min.js"></script><!-- jQuery 核心库 -->
<script type="text/javascript" src="<?php echo $webDName.$webRoot; ?>/src/js/jquery.animate-shadow.js"></script><!-- jQuery 阴影动画插件 -->
<script type="text/javascript" src="<?php echo $webDName.$webRoot; ?>/plugin/yui/yui.js"></script><!-- MUI 组件 -->
<script type="text/javascript" src="<?php echo $webDName.$webRoot; ?>/src/js/Effect.js"></script>
<script type="text/javascript" src="<?php echo $webDName.$webRoot; ?>/src/js/Processor.js"></script><!-- 处理器 -->
<script type="text/javascript">
<!--
	var eft = new Effect();
	var pcs = new Processor();
	var webDName = "<?php echo $webDName; ?>";//域名
	var webRoot = "<?php echo $webRoot; ?>";//根目录
	var nowPage = 'person';
	var yui = new YUI(webDName + webRoot +'/plugin');
	
	//DOM载入
	$(function(){
		eft.comAuto();//组建自适应窗口
		eft.authCom();//认证组件
		eft.personSelector();//个人中心选项卡切换
		pcs.authRegister();//注册
		pcs.authLogin();//登录
		pcs.logout();//注销
		pcs.personOpt();//个人中心四项功能
	})
	
	//窗口大小重置
	$(window).resize(function(e) {
        eft.comAuto();//组件自适应窗口
    });
	
	//滚动条运动
	$(window).scroll(function(e) {
		eft.navShadow();//导航栏阴影
    });
//-->
</script>
</head>

<body>
	<?php $this -> display('head.html'); ?>
    <!-- 主体 -->
    <div id="person-main">
    	<!-- 容器1-显示用户统计信息 -->
        <div class="container-1">
        	<!-- 居中容器 -->
            <div class="center-container">
                <!-- 用户头像区 -->
                <div class="avatar-container">
                	<img src="<?php echo $avatar; ?>" width="128" height="128" />
                </div>
                <!-- 用户信息区 -->
                <div class="info-container">
                	<h3 class="nickname"><?php echo $nickname; ?></h3>
                    <div class="reg-date">注册于&nbsp;<span><?php echo $regtime; ?></span></div>
                </div>
            </div>
        </div>
        
        <!-- 容器2 -->
        <div class="container-2">
        	<!-- 左侧 -->
            <div class="left">
            	<ul id="ul-person-selector">
                	<li><a id="person-my-ask" href="" style="color:#009966;background:#F1F1F1;">我的提问</a></li>
                    <li><a id="person-my-answer" href="">我的回答</a></li>
                    <li><a id="person-base-info" href="">基本信息</a></li>
                    <li><a id="person-pwd-update" href="">密码修改</a></li>
                </ul>
            </div>
            
            <!-- 右侧 -->
            <div id="person-right" class="right">
            	<!-- 我的提问 -->
                <div class="my-ask">
                    <!-- 标题栏 -->
                    <div class="title-bar">
                        <h3>我的提问</h3>
                        <button class="btn-ask">我要提问</button>
                    </div>
                    <!-- 内容 -->
                    <div class="content">
                    	<!--
                        <ul class="ul-question">
                            <li><a href="">PHP 是什么？</a>&nbsp;0&nbsp;回答</li>
                            <li><a href="">Android 环境搭建？</a>&nbsp;0&nbsp;回答</li>
                            <li><a href="">Java 环境搭建？</a>&nbsp;0&nbsp;回答</li>
                            <li><a href="">PHP 是什么？</a>&nbsp;0&nbsp;回答</li>
                            <li><a href="">Android 环境搭建？</a>&nbsp;0&nbsp;回答</li>
                            <li><a href="">Java 环境搭建？</a>&nbsp;0&nbsp;回答</li>
                            <li><a href="">PHP 是什么？</a>&nbsp;0&nbsp;回答</li>
                            <li><a href="">Android 环境搭建？</a>&nbsp;0&nbsp;回答</li>
                            <li><a href="">Java 环境搭建？</a>&nbsp;0&nbsp;回答</li>
                            <li><a href="">PHP 是什么？</a>&nbsp;0&nbsp;回答</li>
                            <li><a href="">Android 环境搭建？</a>&nbsp;0&nbsp;回答</li>
                            <li><a href="">Android 环境搭建？</a>&nbsp;0&nbsp;回答</li>
                        </ul>
                        <p class="load-more"><a href="">加载更多</a></p>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
   <?php $this -> display('footer.html'); ?>
</body>
</html>
